body {
  margin: 0;
}

#myBox {
  background-color: lightgreen;
  width: 300px;
  height: 300px;
  font-size: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
